<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application>

        <provider
            android:name=".ui.internal.utils.CameraFileProvider"
            android:authorities="${applicationId}.aiuta.tryon.compose.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <receiver android:name=".domain.internal.share.utils.ShareBroadcastReceiver"/>
    </application>
</manifest>
